* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

#container {
  margin-top: 200px;
  width: 80%;
  max-width: 400px;
  margin-inline: auto;
}

h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  opacity: 0.9;
  color: blueviolet;
}

p {
  margin-bottom: 40px;
  font-size: 22px;
  opacity: 0.7;
}

input, button {
  display: block;
  width: 100%;

  padding: 20px;
  font-size: 20px;
  border-radius:  4px;
}

input {
  margin-bottom: 20px;
}

button {
  border: none;
  background-color: blueviolet;
  color: white;
  transition: filter .5s;
}

/* pseudo-class: hover */
button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

h3 {
  margin-top: 25px;
}

#resposta {
  margin-top: 30px;

  transition: opacity 1s;
}

#resposta div {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.9;
  margin-bottom: 10px;
}